@font-face {
    font-family: "font";
    src: url(../Roboto/Roboto-Regular.ttf);
}

.container {
    background: white;
    height: 120vh;
    width: 100vw;
    margin: 0;
}

/* header start */

header {
    margin-left: 55px;
    width: 1330px;
    height: 71px;
    display: flex;
    justify-content: space-between;
}

.head_left {
    display: flex;
    width: 350px;

    justify-content: space-between;
    align-items: center;
}

.head_left > p {
    font-weight: bold;
    font-family: font;
    font-size: 10px;
}


.head_right {
    display: flex;
    margin-right: 10px;
    width: 115px;

    justify-content: space-between;
    align-items: center;
}

.head_right > p {
    font-weight: bold;
    font-family: font;
    font-size: 10px;
}

/* header stop */


/* searching start */

.search {
    width: 1330px;
    height: 71px;
    margin-left: 55px;
    display: flex;
    align-items: center;
    
}

.search_left {
    display: flex;
    align-items: center;
    margin-left: 13px;
    margin-right: 14px;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: font;
    font-weight: bold;
    font-size: 20px;
} 

.title2 {
    font-family: font;
    font-size: 12px;
}

.title3 {
    margin-bottom: 10px;
    margin-top: 0;
    font-family: font;
    font-size: 20px;
}

.title4 {
    font-family: font;
    font-size: 12px;
    color: lightslategray;
}

.title6 {
    font-family: font;
    font-size: 15px;
}

.title5 {
    font-family: font;
    font-weight: 1px;
}

.title7 {
    font-family: font;
    font-size: 10px;
    color: lightgray;
}




.search_middle {
    margin-left: 40px;
}

.search_middle > .line {
    width: 870px;
    background: black;
    height: 2px;
    margin-bottom: 10px;
}

.espace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search_right {
    margin-left: 40px;
}

.search_right > .line2 {
    width: 300px;
    background: lightslategray;
    height: 1px;
    margin-bottom: 5px;
}


/* searching stop */


/* body start */

.content {
    width: 1320px;
    height: 800px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}

.splitbox {
    margin-top: 30px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 250px;
}

.nom {
    margin-left: 5px;
    height: 90px;
    width: 150px;
     
}

.nom > p , img {
    margin-top: 3px;
    margin-bottom: 6px;
}

.nom > img {
    margin-top: 3px;
    margin-left: 2px;
}

.separateur {
    display: flex;
    justify-content: space-between;
}

.prix {
    margin-top: 0px;
    margin-right: 6px;
}

.prix > p {
    margin-top:  6px;
}

.boite1 > p {
    margin-bottom: 30px;
    font-family: font;
}
.boite1 {
    margin-left: 10px;
    margin-right: 10px;

}


.boite2 {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.boite3 {

    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.boite3 > p {
    font-size: 13px;
    font-family: font;
}



input {
    width: 275px;
}

.imagee {
    margin: -2px;
}
















/* footer start */

footer {
    width: 720px;
    height: 40px;
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.black {
    background: black;
}

.black > p {
    color: white;
}

/* footer stop */